body {
  font-size: 14px;
  font-weight: normal;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  line-height: 24px;
}
h1 {
  font-size: 30px;
  font-weight: normal;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  line-height: 42px;
}
.social-btn {
  font-size: 14px;
  font-weight: normal;
  font-family: "PT Sans";
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.user-login,
.main-navigation {
  font-size: 16px;
  font-weight: normal;
  font-family: "PT Sans";
  color: rgb(255, 255, 255);
  line-height: 20px;
}
